* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: #444a538e;
  --darker: #1f2937;
  --darkest: #111827;
  --gray: #687280;
  --light: #eee;
  --pink: #ec4899;
  --purple: #885cf6;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Secular One", sans-serif;
}

h1 {
  position: absolute;
  top: 10vh;
  font-family: 'Shadows Into Light', sans-serif;
  color: aliceblue;
}

#main-container {
  background: url("../images/bg.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 20px;
}

.container {
  position: absolute;
  top: 30vh;
  color: aliceblue;
  text-align: center;
}

.label-for-text {
  font-size: 3.5vh;
  font-family: "Secular One", sans-serif;
  background-image: linear-gradient(to right, var(--pink), var(--purple));
  padding: 0 20px;
}

.input-palindrom {
  width: 350px;
  height: 40px;
  font-size: 2.5vh;
  margin: 7% 0;
}

.btn-check {
  width: 120px;
  font-size: 3vh;
  padding: 10px 24px;
  border-radius: 10px;
  margin: 7%;
}

.display-result {
  border-radius: 10px;
  font-weight: bold;
  background-image: linear-gradient(to right, var(--light), var(--purple));
  -webkit-background-clip: text;

  background-clip: text;
  -webkit-text-fill-color: transparent;
  
  margin-top: 5%;
}

@media screen and (max-width: 768px) {
  .input-palindrom {
    width: 50vw;
  }
}

@media screen and (max-width: 425px) {
  .input-palindrom {
    width: 80vw;
  }

  .btn-check {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 320px) {
  .input-palindrom {
    width: 90vw;
  }
}
